/* Responsive adjustments */
@media (max-width: 768px) {
    .top {
      flex-wrap: wrap;
      justify-content: center;
    }

    .categoryImg{
      display: inline-flex;
      justify-content: space-evenly;
      overflow-x: scroll;
      flex-wrap: nowrap;
    }

    
.catIcons{
    margin-left: 20%;
    margin-right: 20%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
    #menu {
      margin-top: 10px;
      justify-content: center;
    }
    #menu li {
      margin: 0 10px;
    }
    #heroImage {
      height: 200px;
    }
    #promo,
    #categories,
    #menu {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #promo div,
    #categories img,
    #menu div {
      height: 150px;
    }
  }
  