/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set basic styles for body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Container for the entire page */
.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center align the container */
  padding: 20px;
}

/* Header styles */
header {
  background-color:#05c6bd;
  color: #000000;
  padding: 10px 0;
}

.top {
  display: flex;
  align-items: center;
}

#account {
  display: grid;
  margin-left: 30%;
  grid-template-columns:40% 60%;
  justify-content: space-between;
  max-width: 100%;
}

#menu {
  list-style: none;
  margin-right: auto; /* Pushes the menu to the far left */
  justify-content: flex-end;
  display: grid;
  width: 100%;
  grid-template-columns:20% 20% 20% 20% 20%
}

#menu li {
  margin-right: 20px;
  position: relative;
}

#menu li:hover ul {
  display: block;
}

#menu ul {
  display: inline;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  top: 100%;
  left: 0;
}


.top input[type=search] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:100%;
  }

  button  {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px
  }

#nav {
  display: grid;
  width: 100%;
  grid-template-columns:70% 30%
}

#location {
  margin-top: 2%;
  justify-content: center;
  width: 80%
}

form {
  justify-content: center;
  width: 100%;
}


#cart img,
#avatar img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Main styles */
main {
  padding: 20px 0;
}

#heroImage {
  background-image: url('path/to/hero-image.jpg');
  background-size: cover;
  height: 300px; /* Adjust as needed */
}

#promo,
#categories
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

#categories div {
  margin-bottom: 10px;
}

#categories img {
  max-width: 100%;
}

#promo div,
#categories img,
#menu div {
  background-color: #fff;
  height: 200px; /* Adjust as needed */
  border-radius: 5px;
}

/* Footer styles */
footer {
  background-color: #05c6bd;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

footer div {
  margin-bottom: 10px;
}

